@font-face {
    font-family: "Beausite Fit Trial Regular";
    src: url("https://db.onlinewebfonts.com/t/3095024266a6c1b50fa47f00806ee8ad.eot");
    src: url("https://db.onlinewebfonts.com/t/3095024266a6c1b50fa47f00806ee8ad.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3095024266a6c1b50fa47f00806ee8ad.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/3095024266a6c1b50fa47f00806ee8ad.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/3095024266a6c1b50fa47f00806ee8ad.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/3095024266a6c1b50fa47f00806ee8ad.svg#Beausite Fit Trial Regular")format("svg");
  }
.spa-items-banner{
    font-family: "Beausite Fit Trial Regular";
}
.spa-description{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 0;
}
.spa-description .title{
    font-family: "Beausite Fit Trial Regular";
    font-size: 32px;
    line-height: 47px;
    letter-spacing: 1.5px;
    color: rgba(156, 191, 184, 1);
    margin-bottom: 30px;
}
.spa-description .content{
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0;
    max-width: 1376px;
    color: rgba(11,42,35,1);
}
.spa-items-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 100px;
}
.item-spa{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px 0;
    font-family: "Beausite Fit Trial Regular";
    padding: 80px 32px;
    min-height: 980px;
    background-color: rgba(251,232,222,1);
}